Source: market
Maintainer: Menucha Team <info@menucha.de>
Build-Depends: debhelper, golang:native, git, crossbuild-essential-armhf:all, libc6

Package: market
Architecture: any
Depends: ${shlibs:Depends}, swagger-ui
Description: Market App Service
